# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda zip files
modules/lambda/*.zip
